body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  
}

.img-logo{
  width: 60%;
  margin-left: 30%;
}

.caixa-cabecalho{
  height: 40vh;
  width: 100%;
  padding-top:1rem;
  /* background-image: url(../imagens/menu3.jpg);
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #092640;
  font-size: 100%;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 0 auto;

}

.menu-nav ul li {
  display: inline;
  padding: 4.0rem;
}

.menu-nav a{
  text-decoration: none; 
  font-size: 1.8rem;
  color: #B3C235;
  
}

.menu-nav a:hover{
  text-decoration: underline;
  color: white;
}

